
<% content_for :actions do %>
    <%= link_to "disable health", project_path(@project), class: 'button' %>
    <%= link_to "admin", admin_project_path(@project), class: 'button' %>
<% end %>
<div class='row'>
  <div class="small-12 large-12 columns">
    <h2> <%= @project.to_s %></h2>
  </div>
</div>
<div class='row small-up-2 medium-up-4 large-up-6 debug'>
    <div class="column column-block">
      <div class="incident warning">
        <div class="title"> Service 1 </div>
      </div>
    </div>
    <div class="column column-block">
      <div class="incident">
        <div class="title"> Service 2 </div>
      </div>
    </div>
    <div class="column column-block">
      <div class="incident warning">
        <div class="title"> Service 1 </div>
      </div>
    </div>
    <div class="column column-block">
      <div class="incident">
        <div class="title"> Service 2 </div>
      </div>
    </div>
    <div class="column column-block">
      <div class="incident warning">
        <div class="title"> Service 1 </div>
      </div>
    </div>
    <div class="column column-block">
      <div class="incident">
        <div class="title"> Service 2 </div>
      </div>
    </div>
    <div class="column column-block">
      <div class="incident warning">
        <div class="title"> Service 1 </div>
      </div>
    </div>
    <div class="column column-block">
      <div class="incident">
        <div class="title"> Service 2 </div>
      </div>
    </div>

</div>
<div class='row'>
  <div class="small-12 large-12 columns">
    <div id="network"></div>
  </div>
</div>
