
<% content_for :actions do %>
    <%= link_to "admin", admin_project_path(@project), class: 'button' %>
<% end %>
<div class='row'>
  <div class="small-12 large-12 columns">
    <h2> <%= @project.to_s %></h2>
  </div>
</div>
<div class='row'>
  <div class="small-12 large-12 columns">
    <div id="network"></div>
  </div>
</div>
