<% content_for :admin_navigation do %>
  <%= link_to "edit Project", admin_project_path(@project) %>
<% end %>
<div class='row'>
  <div class="small-12 large-12 columns">
    <h2> <%= @project %></h2>
  </div>
</div>
<div class='row'>
  <div class="small-12 large-12 columns">
    <div id="mynetwork"></div>
  </div>
</div>
