<% content_for :admin_navigation do %>
  <div class="button">
    <%= link_to "edit Project", admin_project_path(@project) %>
  </div>
<% end %>
<div class='row'>
  <div class="small-12 large-12 columns">
    <h2> <%= @project.to_s %></h2>
  </div>
</div>
<div class='row'>
  <div class="small-12 large-12 columns">
    <div id="network"></div>
  </div>
</div>
