// Active Admin's got SASS!
// Colors
$body-background-color: #FFF !default;
$primary-color: #062F4F !default;
$secondary-color: #813772 !default;
$text-color: #323537 !default;
$link-color: #38678b !default;
$section-header-text-color: $primary-color !default;
$current-menu-item-background: lighten($primary-color, 12%) !default;
$hover-menu-item-background: lighten($primary-color, 12%) !default;
$table-stripe-color: #f4f4f4 !default;
$table-selected-color: #d9e4ec !default;
$error-color: #932419 !default;
$blank-slate-primary-color: #AAA !default;
$breadcrumbs-color: #8a949e !default;
$breadcrumbs-separator-color: #aab2ba !default;
$required-field-marker-color: #aaa !default;
$form-label-color: $section-header-text-color !default;
$page-header-text-color: #cdcdcd !default;
$warning-color: #D9B310;
$error-color: #E14658;
$success-color: #0E8044;


@import "active_admin/mixins";
@import "active_admin/base";

.status_tag {
  &.up {
    background: $success-color;
  }
  &.config-error {
    background: $warning-color;
  }
  &.down {
    background: $error-color;
  }
}
