@import "font-awesome-sprockets";
@import "font-awesome";

// [TODO]: to be deleted; default colors, from _settings.scss
// primary: #1779ba,
// secondary: #767676,
// success: #3adb76,
// warning: #ffae00,
// alert: #cc4b37,


// colors brand
$primary-color: #1d2b45!default;
$primary-contrast-color: lighten($primary-color, 10%) !default;
$secondary-color: #cdcdcd !default;

// colors states
$success-color: #3adb76 !default; // taken from _settings.scss
$warning-color: #ffae00 !default;
$alert-color: #cc4b37 !default;

// colors base
$black: #000 !default;
$black-alt: #0000006e !default;
$white: #fff !default;
$white-alt: #f3f3f3 !default;
$white-eggshell: #f5f5f5 !default;
$base-background-color: darken($primary-color, 5%);
$border-color: lighten($primary-color, 10%);
// typography
$font-xlarge: 2.5em;
$font-large: 1.5em;
$font-medium: 1em;
$font-small: 0.8em;
$font-xsmall: 0.6em;

// alignment
$align-center: 'center';

// dimensions
$max-height: 100vh;
$max-width: 100vw;

// alignment
$zero-aligment: 0;
// $padding-top:
// $padding-bottom:
// $margin-top:
// $margin-bottom:

// spqcing
$base-spacing: 0.2em;

// border
$border-radius: 3px;

// test vars
$debug-border: 1px solid red;

html, body{
  background-color: $base-background-color;
  height: 100%;

  h2 {
   font-size: $font-large;
   color: lighten($primary-color, 20%);
  }

  #network{
    height: 700px;
    width: 100%;
    background-color: $primary-color;
    border: 1px solid $border-color;
    margin-top: 2em;
  }

  #projects-dropdown{
    background-color: lighten($primary-color, 5%);
    border: 1px solid $primary-color;

    .menu {

      a {
        color: $secondary-color;
      }
    }
  }

  .head {
    background-color: $primary-color;
    border-bottom: 1px solid $border-color;
    padding-top: $base-spacing;
    padding-bottom: $base-spacing;

    h1 {
      margin-top: 0.4em;
      margin-bottom: $base-spacing;
      font-size: $font-medium;
      a {
        color: $secondary-color;
      }
    }

    .button-group{
      margin-bottom: $zero-aligment;
    }
  }
}

.incidents-container {
  background-color: $primary-color;
  border: 1px solid $border-color;
  padding: 0 1em;

  h3 {
    text-align: center;
    color: darken($base-background-color, 5%);
    margin: 1em;
  }
}
// div.incident
.incident {
  border-radius: 3px;
  height: 4em;
  padding: 0 0.6em;
  margin-top: 1.6em;
  background: repeating-linear-gradient(45deg, $primary-color, $primary-color 10px, darken($primary-color, 20%) 10px, darken($primary-color, 20%) 20px);

  &.alert {
    background: repeating-linear-gradient(45deg, $alert-color, $alert-color 10px, darken($alert-color, 20%) 10px, darken($alert-color, 20%) 20px);

    .incident__content {
      background-color: $alert-color;
    }

    h2 {
      color: darken($alert-color, 30%)
    }
  }

  &.warning {
    background: repeating-linear-gradient(45deg, $warning-color, $warning-color 10px, darken($warning-color, 20%) 10px, darken($warning-color, 20%) 20px);

    .incident__content {
      background-color: $warning-color;
    }

    h2 {
      color: darken($warning-color, 30%)
    }
  }

  &__content {
    height: 100%;
    border-radius: $border-radius;
    background-color: $primary-color;

    &__title {
      font-weight: bold;
      font-size: $font-large;
      text-align: center;
      color: $black;
      padding-top: 0.6em;
    }

    &__details {
      padding: 0 0.5em;
      color: $black;
      text-align: center;
    }
  }

  &__content {
    // border: $debug-border;

    &__text {
      font-size: $font-large;
      letter-spacing: 0.2rem;
      text-align: $align-center;
    }
  }

  &__icon {
    text-align: center;
  }
}

// .button from foundation
.input-group-button .button {
  background-color: $primary-color;

  &:focus, &:active, &:hover {
    background-color: $primary-contrast-color;
  }

}
.button {
  background-color: transparent;
  margin-bottom: $zero-aligment;

  &:focus, &:active, &:hover {
    background-color: transparent;
    border-bottom: solid 2px $border-color;
  }
  &__link {
    font-size: $font-small;
    color: $secondary-color;
  }
}

.header__title {
  font-size: $font-xlarge;
  color: $border-color;
}
